@model PessoasModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Lista de Pessoas</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Crm</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pessoa in Model.Pessoas)
            {
                <tr>
                    <td>@pessoa.Nome</td>
                    <td>@pessoa.Cpf</td>
                    <td>@pessoa.Crm</td>
                    <td>@pessoa.Telefone</td>
                    

                </tr>
            }

        </tbody>


    </table>
</div>
