@model EspecialidadeModel
@{
    ViewData["Title"] = "Especialidade";
}
<div>
    <h3>Cadastro de pessoas</h3>

    <form asp-controller="Especialidades" asp-action="Add" method="post">
        <div class="form-group">
            <label for="especialidade">Especialidade</label>
            <select id="especialidade" class="form-select" asp-for="NomeEspecialidade">
                @foreach (PessoaModel pessoa in ViewBag.Especialidades) //não está funcionando
                {
                    <option value="@pessoa.Id">@pessoa.Nome</option>
                }
            </select>
        </div>

        <br />
        <button type="submit" class="btn btn-primary float-end">Salvar</button>
        <a class="btn btn-secondary float-end" asp-controller="Pessoas" asp-action="Index">Voltar</a>
    </form>
</div>