@model EspecialidadesModel
@{

}
<div class="text-center">
    <h3>Lista de Especialidades</h3>
    <a type="button" class="btn btn-primary float-end" asp-controller="Especialidades" asp-action="Add">Cadastre nova especialidade</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome da especialidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var especialidade in Model.Especialidades)
            {
                <tr>
                    <td>@especialidade.Id</td>
                    <td>@especialidade.NomeEspecialidade</td>
                  
                    <td>
                        <div>
                            <a type="button" class="btn btn-warning" asp-route-id="@especialidade.Id" asp-controller="Especialidades" asp-action="Update">Editar</a>
                            <a type="button" class="btn btn-danger" asp-route-id="@especialidade.Id" asp-controller="Especialidades" asp-action="Delete">Excluir</a>
                        </div>

                    </td>

                </tr>
            }

        </tbody>


    </table>
</div>