@model EspecialidadeModel
@{
    ViewData["Title"] = "Especialidade";
}
<div>
    <h3>Cadastro de Especialidades</h3>

    <form asp-controller="Especialidades" asp-action="Update" method="post">
        <div class="form-group">
            <label for="especialidade">Especialidades</label>
            <input type="text" id="especialidade" class="form-control" asp-for="NomeEspecialidade" />
        </div>

        <br />
        <button type="submit" class="btn btn-primary float-end">Salvar</button>
        <a class="btn btn-secondary float-end" asp-controller="Especialidade" asp-action="Index">Voltar</a>
    </form>

</div>
