@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="">AgendaMed</h1>
    <p>Sistema de gestão de consultas.</p>
    <p>Tenha o total controle de suas consultas, prontuários e medicamentos!</p>
</div>

