@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<img src="~/images/computador.svg" style="position:fixed"/>*@
<header class="bg-white py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h5 class="display-7 fw-bolder text-dark mb-3">Gestão Inteligente para Clínicas e Consultórios</h5>
                    <p class="lead text-dark-50 mb-4">Rapidez e Eficiência</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Profissional</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Paciente</a>

                        <a class="text-decoration-none" href="#!">
                            Cadastre-se
                            <i class="bi bi-arrow-right"></i>

                        </a>
                    </div>

</header>
<section class="py-5" id="recursos">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img class="mr-3" src="~/images/agenda incone embaixo.svg" alt="IconeAgenda">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Agenda Médica</h2>
                <p>Melhorando a organização, otimizando o tempo, aprimorando a experiência do paciente e contribuindo para um atendimento de qualidade.</p>
                <a class="text-decoration-none" href="#!">
                    Clique aqui
                    <i class="bi bi-arrow-right"></i>

                </a>
            </div>

            <div class="col-lg-4">
                <img class="mr-3" src="~/images/lista incone embaixo.svg" alt="IconeAgenda">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Especialidades</h2>
                <p>Eficiência e melhores na experiência do paciente, ao mesmo tempo em que facilita a gestão do tempo e recursos para profissionais de saúde.</p>
                <a class="text-decoration-none" href="#!">
                    Clique aqui
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <img class="mr-3" src="~/images/computador incone embaixo.svg" alt="IconeAgenda">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Agendamento Online</h2>
                <p>Eficiência e melhores na experiência do paciente, ao mesmo tempo em que facilita a gestão do tempo e recursos para profissionais de saúde.</p>
                <a class="text-decoration-none" href="#!">
                    Clique aqui
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>