@model ReceitaModel
@{
    ViewData["Title"] = "Receita";
}
<div>
    <h3>Cadastro de Receita</h3>

    <form asp-controller="Receitas" asp-action="Add" method="post">

        <div class="form-group">
            <label for="date_prescription">Data da Prescrição</label>
            <input type="datetime-local" id="date_prescription" class="form-control" asp-for="DataPrescricao" riquired  />
        </div>

        <div class="form-group">
            <label for="prescricao">Prescrição</label>
            <textarea type="text" class="form-control" id="prescricao" asp-for="Prescricao" rows=" 15" riquired></textarea>
        </div>

        <br />
        <button type="submit" class="btn btn-primary float-end">Salvar</button>
        <a class="btn btn-secondary float-end" asp-controller="Receitas" asp-action="Index">Voltar</a>

        <script>
            var now = new Date()
            var year = now.getFullYear()
            var month = (now.getMonth() + 1).toString().padStart(2, "0")
            var day = now.getDate().toString().padStart(2, "0")
            var hours = now.getHours().toString().padStart(2, "0")
            var minutes = now.getMinutes().toString().padStart(2, "0")

            var currentDatetime = `${year}-${month}-${day}T${hours}:${minutes}`

            document.getElementById('date_prescription').setAttribute('min', currentDatetime)
        </script>
    </form>
</div>