@model MedicamentoModel
@{
    ViewData["Title"] = "Medicamentos";
}
<div>
    <h3>Cadastro de medicamento</h3>
    <form asp-controller="Medicamento" asp-action="Delete" method="post">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" class="form-control" asp-for="Nome" readonly />
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" class="form-control" asp-for="Descricao" readonly></textarea>
        </div>
        <div class="form-group">
            <label for="dosagem">Dosagem</label>
            <input type="dosage" id="dosagem" class="form-control" asp-for="Dosagem" readonly />
        </div>

        <br />

        <div class="alert alert-danger" role="alert">
            Você está prestes a excluir este registro do sistema, deseja continuar?

            <button type="submit" class="btn btn-primary float-end">Sim</button>
            <a class="btn btn-secondary float-end" asp-controller="Medicamento" asp-action="Index">Não</a>
        </div>
    </form>
</div>