@model ConsultasModel

@{
    ViewData ["Title"] = "Agendar Consulta";
}
<div>
    <h3>Agendamento de consultas</h3>

        @* Adicione aqui os campos restantes para o agendamento da consulta *@
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agendar" class="btn btn-default" />
            </div>
        </div>
    </div>
